.authContainer{
	min-height: 100vh;
	background: url("/img/pattern.png");
	background-position: center center;
	background-repeat: repeat;

	.btn-link{
		margin: 0 auto;
	}

	img{
		max-width: 100%;
		height: auto;
	}
}

.container-fluid{
	padding: 0px;
}

//MCE Editor
// div.mce-edit-area{
// 	height: 300px;
// }
.center-text{
	text-align: center;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: $yellow;
    border: $yellow;
    color: #ffffff;
}
.btn-link{
	color: $yellow;

	&:hover{
		color: $darkGrey;
	}
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background:$darkGrey;
	cursor: pointer;

}
 
.btn-primary:active, .btn-primary.active {
    background: $darkGrey;
    box-shadow: none;
}
.back-to-home{
	color: $yellow;
	p{
	font-weight: $bold;
	}
}

.back-to-home:hover{
	color:$darkGrey;
}
.addNewsCon{
	padding: 20px 20px;

	p,h2{
		padding: 0 15px;
	}
}

#topbar{
	background-color: $yellow;
	width: 100%;
	margin: 0px;
	height: 150px;
	color: #fff;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.2);
	padding: 10px 15px;
	text-align: center;

	#headerLinks{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	h2{
		font-size: 20px;
	}

	a{
		color: #fff;
	}

	a:active{
		color: #fff;
	}
}

.projectList{
	margin-top: 50px;
	h3{
		text-transform: uppercase;
		font-size: 16px;

	}

	.add{
		color: #10B436;
	}

	.list{
		margin-top: 30px;
		li{
			border-top: 1px solid #ccc;
			padding: 20px 0;

			.title{
				font-weight: $bold;
				margin: 0px;
				display: block;
			}
			.date{
				margin: 0px;
				display: inline;
				margin-right: 40px;
			}

			.edit{
				color: $yellow;
				margin: 0px;
				display: inline;
				margin-right: 30px;
				@include iphone6{
				margin-right: 30px;

				}
			}

			.delete{
				color:#E54B45;
				margin: 0px;
				text-align: right;
				display: inline;
			}


		}
	}
}


@include medium-up{

	.addNewsCon{
	padding: 20px 100px;

	p,h2{
		padding: 0 15px;
	}
	}

	#topbar{
	height: auto;
	padding: 20px 50px;

	h2{
		font-size: 30px;
	}

	#headerLinks{
		p{
			margin-bottom: 10px;
		}

	}

	}

	.projectList{
	margin-top: 50px;
	width: 100%;
	h3{
		text-transform: uppercase;
		font-size: 16px;

	}

	.add{
		color: #10B436;
	}

	.list{
		margin-top: 30px;
		li{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20px 0;

			.title{
				font-weight: $bold;
				margin: 0px;
				display: block;
				width: 30%;
			}
			.date{
				margin: 0px;
				display: inline;
				margin-right: 30px;
			}

			.edit{
				color: $yellow;
				margin: 0px;
				display: inline;
				margin-right: 15px;
				@include iphone6{
				margin-right: 30px;

				}
			}

			.delete{
				color:#E54B45;
				margin: 0px;
				text-align: right;
				display: inline;
			}


		}
	}
}
}







