.authContainer{
	min-height: 100vh;
	background: url("/img/pattern.png");
	background-position: center center;
	background-repeat: repeat;
	padding-top: 50px;
	padding-bottom: 50px;


	.btn-link{
		margin: 0 auto;
	}

	img{
		max-width: 100%;
		height: auto;
	}
}

//MCE Editor
// div.mce-edit-area{
// 	height: 300px;
// }
.center-text{
	text-align: center;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: $yellow;
    border: $yellow;
    color: #ffffff;
}
.btn-link{
	color: $yellow;

	&:hover{
		color: $darkGrey;
	}
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background:$darkGrey;
	cursor: pointer;

}
 
.btn-primary:active, .btn-primary.active {
    background: $darkGrey;
    box-shadow: none;
}

.sidebar{
}